$bg: #fff;
$text-color: rgba(255, 255, 255, 0.8);
$cf: #7269ef;

.header {
    margin: 0;
    flex-grow: 1;
    max-width: 35rem;
    display: flex;
    flex-direction: column;

    &_navbar {
        border-right: 0.5px solid $text-color;
        border-bottom: 1px solid #f0eff5;
    }

    .navbar-brand {
        padding: 1rem 2rem;
        background-color: $bg;

        &_link {
            font-family: "Marck Script", cursive;
            font-size: 3.2rem;
            color: $cf;

            img {
                margin-right: 1rem;
                position: relative;
                top: 0.2rem;
            }
        }
    }
}
